In [1]:
import pandas as pd

In [5]:
df_1 = pd.read_csv("runs/essay_set_1_cv_1_Jun_04_2020_20:37:43/stat")

df_1 = pd.read_csv("runs/essay_set_1_cv_1_Jun_04_2020_20:37:43/stat")
df_1["score"].to_csv("predicted_scores/org_scores/prompt1_org.csv", index=False)
df_1["pred_score"].to_csv("predicted_scores/pred_org/prompt1_pred.csv", index=False)

In [6]:
# from qwk import quadratic_weighted_kappa
# df_1 = pd.read_csv("runs/essay_set_2_cv_1_Jun_04_2020_21:51:15/stat")
# # df_1["score"].to_csv("predicted_scores/org_scores/prompt1_org.csv", index=False)
# # df_1["pred_score"].to_csv("predicted_scores/pred_org/prompt1_pred.csv", index=False)
# test_scores = df_1["score"].values.tolist()
# test_preds = df_1["pred_score"].values.tolist()
# print(len(test_scores), len(test_preds))
# min_score = 1
# max_score = 6
# test_kappp_score = quadratic_weighted_kappa(test_scores, test_preds, min_score, max_score)
# print(test_kappp_score)

In [7]:
df_1 = pd.read_csv("runs/essay_set_2_cv_1_Jun_04_2020_21:51:15/stat")
df_1["score"].to_csv("predicted_scores/org_scores/prompt2_org.csv", index=False)
df_1["pred_score"].to_csv("predicted_scores/pred_org/prompt2_pred.csv", index=False)

In [26]:
# df_1 = pd.read_csv("runs/essay_set_2_cv_1_Jun_04_2020_21:51:15/stat")
# df_1["score"].to_csv("predicted_scores/org_scores/prompt2_org.csv", index=False)
# df_1["pred_score"].to_csv("predicted_scores/pred_org/prompt1_pred.csv", index=False)

In [8]:
df_1 = pd.read_csv("runs/essay_set_3_cv_1_Jun_04_2020_23:32:11/stat")
df_1["score"].to_csv("predicted_scores/org_scores/prompt3_org.csv", index=False)
df_1["pred_score"].to_csv("predicted_scores/pred_org/prompt3_pred.csv", index=False)

In [9]:
df_1 = pd.read_csv("runs/essay_set_4_cv_1_Jun_04_2020_23:55:32/stat")
df_1["score"].to_csv("predicted_scores/org_scores/prompt4_org.csv", index=False)
df_1["pred_score"].to_csv("predicted_scores/pred_org/prompt4_pred.csv", index=False)

In [10]:
df_1 = pd.read_csv("runs/essay_set_5_cv_1_Jun_05_2020_00:26:49/stat")
df_1["score"].to_csv("predicted_scores/org_scores/prompt5_org.csv", index=False)
df_1["pred_score"].to_csv("predicted_scores/pred_org/prompt5_pred.csv", index=False)

In [11]:
df_1 = pd.read_csv("runs/essay_set_6_cv_1_Jun_05_2020_01:32:24/stat")
df_1["score"].to_csv("predicted_scores/org_scores/prompt6_org.csv", index=False)
df_1["pred_score"].to_csv("predicted_scores/pred_org/prompt6_pred.csv", index=False)

In [12]:
df_1 = pd.read_csv("runs/essay_set_7_cv_1_Jun_05_2020_02:19:41/stat")
df_1["score"].to_csv("predicted_scores/org_scores/prompt7_org.csv", index=False)
df_1["pred_score"].to_csv("predicted_scores/pred_org/prompt7_pred.csv", index=False)

In [13]:
df_1 = pd.read_csv("runs/essay_set_8_cv_1_Jun_19_2020_03:13:25/stat")
df_1["score"].to_csv("predicted_scores/org_scores/prompt8_org.csv", index=False)
df_1["pred_score"].to_csv("predicted_scores/pred_org/prompt8_pred.csv", index=False)

In [34]:
df_1[:-1]

     Unnamed: 0  essay_id  score  pred_score
0             0     19223     20          16
1             1     19224     13          15
2             2     19225     10          15
3             3     19226     14          15
4             4     19227     23          12
..          ...       ...    ...         ...
307         307     19557     24          19
308         308     19558     12           9
309         309     19559     16          15
310         310     19561     19          15
311         311     19562     22          24

[312 rows x 4 columns]